@font-face {
  font-family: "Cyber";
  src: url(./vendor/fonts/Dirtchunk.otf);
}

@font-face {
  font-family: "Doom";
  src: url(./vendor/fonts/EternalLogo-lg2dd.ttf);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Cyber" "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    "Doom" sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #19141d;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
